# 19 gennaio fit

In [84]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import MinuteLocator, SecondLocator, DateFormatter
import pandas as pd

from scipy import stats
from scipy.optimize import curve_fit
from scipy.stats import norm

In [106]:
data = open('dati_per_fit.csv','r')

for i in range(10):
    print(data.readline(),end='')

print('...')
data.close()

elev. (rad)      rad(adu)
-0.959931089	3675.96961
-0.872664626	3625.614458
-0.785398163	2915.525229
-0.698131701	3029.668966
-0.436332313	2884.120275
-0.34906585 	2700.784404
0.34906585 	      2700.784404
0.436332313 	2781.783069
0.523598776 	 2845.46039
...

In [112]:
data = pandas.read_csv('dati_per_fit.csv')

In [116]:
data.columns

Index(['elev. (rad)      rad(adu)'], dtype='object')

In [117]:
data[['elev. (rad)', 'rad(adu)']] = data['elev. (rad)      rad(adu)'].str.split('\t', 1, expand=True)

In [119]:
data.drop(columns=['elev. (rad)      rad(adu)'], inplace=True)

In [121]:
data

     elev. (rad)           rad(adu)
0   -0.959931089         3675.96961
1   -0.872664626        3625.614458
2   -0.785398163        2915.525229
3   -0.698131701        3029.668966
4   -0.436332313        2884.120275
5   -0.34906585         2700.784404
6    0.34906585         2700.784404
7   0.436332313         2781.783069
8   0.523598776          2845.46039
9   0.610865238         3028.621668
10  0.698131701         3172.219931
11  0.785398163         3129.909716
12  0.872664626         3796.323302
13  0.959931089         3558.982818